#site-footer {
    background-color: $color__dark_shade;
    color: $color__light_shade;
    text-align: center;

    .section-inner {
        max-width: $max-content_width;
        margin: auto;
    }

    .footer-tag {
        padding-bottom: 1.5em; 
        h2 {
            @include serif;
        }
    }

    .footer-menu {
        padding-bottom: 1.5em; 
        a {
            color: $color__light_shade;
        }
    }


    .footer-credits {
        font-size: .75rem;
        @include sans-serif; 

        a {
            text-decoration: none;
        }
    }
}